{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rented Books</title>
    <link rel="stylesheet" href="{% static 'frontend/styles.css' %}">
</head>
<body>
    {% include 'frontend/header_authorized.html' %}
    
    <script src="{% static 'frontend/utils.js' %}"></script>
    <center><h1 id="city-name-heading">City_Name Libraries</h1></center>
    <div id="library-container" class="library-container"></div>
    <!-- <div class="library-box">
        <div class="library-info">
            <h3 class="library-name">Library Name</h3>
            <p class="library-address">Address</p>
        </div>
    </div> -->

    <script>
        initHeader(document, "{% url 'index' %}", "{% url 'index' %}");
        initLibraries(document, "{% url 'books' %}");
    </script>
</body>
</html>