body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.signin-container {
    max-width: 400px;
    margin: 100px auto; 
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

h1 {
    text-align: center;
    color: #931784;
}

label, input {
    display: block;
    margin-bottom: 10px;
    width: 100%; 
}

button {
    display: block;
    margin-top: 20px; 
    padding: 10px 15px;
    background-color: #931784;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%; 
}

.signup-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.signup-link {
    text-align: center;
    margin-top: 20px;
}

.signup-link {
    text-align: center;
    margin-top: 20px;
}

.error {
    color: #c40000;
}

.header {
    background-color: #931784;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-container {
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.header-title {
    color: #ffffff;
    font-size: 24px;
    margin: 0;
}